<!DOCTYPE html>
<html>

<head>
    <title><%=yield(:title)%> | My Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul class="nav justify-content-end">
                    <li class="nav-item"> <%= link_to "店舗一覧へ",restaurants_path, class:"nav-link"%></li>
                    <li class="nav-item"> <%= link_to "おすすめしてもらう",lunch_go_path,class:"nav-link"%></li>
                    <li class="nav-item"> <%= link_to "店舗登録",new_restaurant_path,class:"nav-link"%></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <%= yield %>
        </div>
    </div>
    <footer class="footer">
    </footer>
</body>

</html>